@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

img
	vertical-align: middle

.visible-xs
	display: none

.box-present-1, .box-present-11
	background-image: url(../img/p-shepa.png)
	background-repeat: no-repeat
	background-size: 54px

.box-present-2, .box-present-22
	background-image: url(../img/p-shagat.png)
	background-repeat: no-repeat
	background-size: 56px
.box-present-3, .box-present-33
	background-image: url(../img/p-book.png)
	background-repeat: no-repeat
	background-size: 54px

section
	.container
		.title__block
			.title__line
				margin-bottom: 50px
				text-align: center
				h2
					font-size: 30px
					line-height: 1.1
					.info__preHeader
						font-size: 38px
						font-weight: 200
					.info__header
						font-size: 38px
						font-weight: bold
						margin-bottom: 10px
						margin-top: 5px
				.info__postHeader
					font-size: 26px
					color: #a89b93
					font-weight: 200

/* Header Start */

.menu__fixed
	position: fixed
	top: 0
	z-index: 6
	margin-top: 0

.menu-wrapper
	background-color: #fff
	width: 100%
	.container
		.row
			.col-12
				.menu
					display: flex
					justify-content: space-between
					border-bottom: 2px solid #ececec
					margin-bottom: 0
					li
						list-style: none
						.menu-item
							font-size: 15px
							text-align: center
							font-weight: bold
							cursor: pointer
							text-transform: uppercase
							padding: 12px 0
							border-bottom: 2px solid transparent
							color: #000
							display: block
							margin: 0 5px -2px
							&:hover
								border-bottom: 2px solid #fc0
								color: #fc0
								text-decoration: none

.header
	margin-top: 20px
	background: url(../img/zol-f2.jpg) no-repeat 50% 59% $light-grey
	position: relative
	padding-bottom: 70px
	overflow: hidden
	margin-bottom: 0px
	.container
		.row
			.col-md-7
				.logo
					margin-top: 54px
					height: 44px
					display: flex
					img
						margin-right: 15px
					.logo-text
						font-size: 16px
						font-weight: 200
						color: #111
						text-align: left
						white-space: pre-line
						line-height: 22px
						height: 44px
			.col-md-5
				position: relative
				display: flex
				justify-content: flex-end
				.phone
					margin: 40px 0 10px
					display: flex
					flex-direction: column
					.phone-number
						position: relative
						font-size: 28px
						line-height: 31px
						color: #111
						&:before
							content: ""
							display: block
							width: 21px
							height: 21px
							background: url(../img/phone.png) no-repeat 50% 50%
							position: absolute
							left: -35px
							top: 5px
					.phone-text
						color: #111
						font-size: 16px
		.row
			.caption
				margin-top: 32px
				.h1
					font-size: 42px
					line-height: 43px
					white-space: pre-line
				.caption-subs
					font-weight: 300
					color: #111
					font-size: 21px
			.box-present
				.h-present-1
					margin-top: 33px
					font-weight: bold
					font-size: 20px
					span
						color: #ff4200
				ul
					margin: 0
					padding: 0
					list-style: none
					margin-top: 14px
					li
						margin-bottom: 10px
						padding-left: 75px
						height: 56px
						font-weight: bold
						font-size: 16px
						letter-spacing: -0.5px
						div
							font-weight: normal
							text-decoration: line-through
							color: #5d5d5d
							span
								display: inline-block
								margin-left: 10px
								font-weight: bold
								color: red
								text-decoration: none
								font-size: 18px
			.topForm
				margin-top: 70px
				.topform-content
					border: 1px solid #333
					background: #fff
					padding-top: 10px
					padding-bottom: 20px
					margin-bottom: 15px
					.topform-title
						color: #111
						font-size: 17px
						font-weight: 300
						white-space: pre-line
						text-align: center
						margin-top: 0
						line-height: 1.4
					.offers
						.topform-price
							margin-top: 4px
							text-align: center
							font-size: 26px
							b
								display: inline-block
								padding: 0px 10px
								border-radius: 4px
								font-weight: 300
								font-size: 16px
								background: #ffe400
								vertical-align: top
								margin-top: 9px
							.topform-price-strike
								font-weight: 300
								text-decoration: line-through
							.topform-price-yellow
								color: #ff4200
								font-weight: 700
					.topform-count
						font-size: 17px
						font-weight: 300
						text-align: center
					.topform-wrapper
						margin-top: 30px
						.form-group
							input
								display: block;
								border: 2px solid #999
								color: #fff
								text-transform: uppercase
								margin: 0 auto
								background: none
								height: 53px
								line-height: 53px
								font-size: 13px
								padding: 0 20px
								outline: none
								color: #999
								background: #fff
								width: 270px
							.help-block
								color: red
								font-size: 14px
								width: 304px
								margin: 0 auto
								height: 20px
								line-height: 20px
						.btn
							margin: 0 auto
							border: 0
							height: 53px
							line-height: 53px
							text-transform: uppercase
							font-weight: bold
							font-size: 15px
							display: block
							text-align: center
							width: 270px
							background: #30b530
							color: #fff
					.topform-payment
						font-size: 15px
						margin-top: 15px
						margin-bottom: 0
						text-align: center
						white-space: pre-line
						// font-weight: 300
				.topform-privacy
					text-align: center
					margin: 20px 0 0
					a
						color: #151515
						border-bottom: 1px solid hsla(0, 0%, 10%, 0.3)
						background: #fff
						font-size: 13px
						&:hover
							border-bottom: 0
							text-decoration: none

/* Header End */

/* Video Start */

.video
	.video-wrap
		background-image: url(../img/smoke-bg.jpg)
		background-repeat: no-repeat
		background-size: cover
		.container
			.row
				.video_wr
					.thumb-wrap
						position: relative
						padding-bottom: 56.25%
						padding-top: 30px
						height: 0
						overflow: hidden
						text-align: center
						iframe
							position: absolute
							top: 0
							left: 0
							width: 100%
							height: 100%
				.video_text
					h4
						color: #fff
						font-size: 26px
						padding: 25px
						text-shadow: 1px 1px 5px #000

/* Video End */

/* Complectaciya Start */

.complectaciya
	.container
		.row
			.title
				text-align: center
				white-space: pre-line
				padding: 0 15px
				width: 100%
				h2
					font-size: 38px
					line-height: 47px
		.row
			.complete-wrapper
				margin: 77px -130px 0
				position: relative
				.col-md-12
					width: 100%
					.abs-presn
						margin: 0
						list-style: none
						position: absolute
						top: -42px
						right: 146px
						padding: 10px
						border: 1px solid #f29a72
						background: #fff
						li
							margin-bottom: 10px
							padding-left: 75px
							height: 56px
							font-weight: bold
							font-size: 16px
							letter-spacing: -0.5px
							div
								font-weight: normal
								text-decoration: line-through
								color: #5d5d5d
								span
									display: inline-block
									margin-left: 10px
									font-weight: bold
									color: red
									text-decoration: none
									font-size: 18px
					
/* Complectaciya End */

/* Info Start */

.info
	margin-bottom: 20px
	background: url(../img/bgInfo.jpg)
	padding-top: 80px
	padding-bottom: 80px
	background-attachment: fixed
	.container
		.row
			.col-12
				.info__mainImg
					position: relative
					margin-top: 15px
					margin-bottom: 15px
					img
						margin: auto
					.info__mainImg_container
						position: absolute
						display: flex
						top: 0
						left: 0
						right: 0
						bottom: 0
						.info__mainImg_containerWrap
							margin: auto
							.info__mainImg_text, .info__mainImg_title
								color: #fff
								text-align: center
								line-height: 1
							.info__mainImg_text
								font-weight: 200
								font-size: 28px
								margin-bottom: 5px
							.info__mainImg_title
								font-weight: bold
								font-size: 38px
				.info__item
					margin-top: 40px
					.row								
						.col-12
							.info__headerList
								font-size: 20px
								font-weight: bold
								color: #000
								text-align: left
							.info__list
								list-style: none
								padding: 0
								li
									margin-left: 25px
									position: relative
									font-size: 17px
									font-weight: 200
									text-align: left
									&:before
										content: ""
										display: block
										position: absolute
										background: url(../img/infoCircle.png)
										width: 10px
										height: 10px
										left: -25px
										top: 9px
/* Info End */

/* Advantage Start */

.advantage
	padding-top: 50px
	.container
		.adv__block
			margin-bottom: 70px
		.row
			.adv1
				padding-top: 120px
			.col-md-4, .col-md-6, .col-md-8
				h3
					color: #ffe400
					line-height: 30px
					font-weight: normal
					font-style: normal
					font-size: 26px
					text-align: center
					margin-bottom: 20px
				.adv__list
					border-top: 1px solid #111
					border-bottom: 1px solid #111
					padding: 20px 5px 20px
					li
						list-style: none
						text-align: center
						margin-bottom: 15px
						&:last-child
							margin-bottom: 0
						p
							margin-bottom: 0
						.adv__title
							color: #808080
							text-transform: uppercase
							font-size: 18px
							margin-bottom: 5px
						.adv__text
							font-weight: normal
						.adv__attent
							font-size: 20px
							font-weight: bold
		.row
			.adv2
				.row
					.col-4
						display: flex
						flex-direction: column
						justify-content: space-between
/* Advantage End */

/* Meals Start */

.meals
	background-color: #f6f5f4
	padding-top: 50px
	.container
		.row
			.recipe-content
				.recipe-wrapper
					position: relative
					background-color: #fff
					margin-bottom: 50px
					&:before
						content: " "
						display: block
						position: absolute
						width: 100%
						height: 100%
						background: url(../img/recipe-background.png) no-repeat 0 0
						background-size: contain
						top: 0
						left: 0
					.recipe-time
						position: absolute
						top: 13px
						left: 41px
						color: #fff
						font-size: 17px
						font-weight: bold
						span
							font-size: 13px
							font-weight: normal
						&:before
							content: ''
							background: url(../img/recipe-time.png) no-repeat 0 0
							width: 17px
							height: 17px
							position: absolute
							top: 3px
							left: -26px
					.recipe
						padding: 20px 25px 25px
						.recipe-title
							margin-bottom: 20px
							h4
								font-weight: bold
								font-size: 14px
								text-transform: uppercase
								margin: 0
						.recipe-price
							display: flex
							color: #000
							text-transform: uppercase
							line-height: 15px
							flex-wrap: wrap
							span
								font-size: 13px
								font-weight: normal
							.recipe-price-wrapper
								margin-right: 28px
								display: flex
								.recipe-price-text
									font-size: 10px
									margin: 12px 10px 0 0
								.recipe-price-store, .recipe-price-home
									flex: 0 0 auto
									text-align: center
									font-size: 17px
									width: 42px
									height: 47px
									font-weight: bold
									padding-top: 9px
								.recipe-price-store
									background: url(../img/recipe-price-store.png) no-repeat 0 0
								.recipe-price-home
									background: url(../img/recipe-price-home.png) no-repeat 0 0
/* Meals End */

/* Catalog Start */

.catalog
	padding-top: 50px
	padding-bottom: 50px
	background: url(../img/c_bgc.jpg) repeat
	background-attachment: fixed
	.container
		.cat__block
			margin-bottom: 50px
			.cat__item
				.cat__wrapper
					background-color: #f4f4f4
					padding: 20px 40px
					.cat__inner
						text-align: center
						.h4
							font-size: 18px
							line-height: 22px
							font-weight: bold
							text-transform: uppercase
							span
								font-size: 20px
						img
							margin-bottom: 20px
						.cat__price
							margin-bottom: 20px
							span
								font-weight: normal
								text-decoration: line-through
								font-size: 22px
								color: #666
								margin-right: 5px
							strong
								color: #ffb405
								font-size: 36px
								letter-spacing: -1px
						.cat__button
							margin-bottom: 20px
							.btn
								margin: 0 auto
								border: 0
								height: 53px
								line-height: 53px
								text-transform: uppercase
								font-weight: bold
								font-size: 15px
								display: block
								text-align: center
								width: 100%
								background: #30b530
								color: #fff
						.cat__text
							padding: 0
							margin: 0
							li
								list-style: none
								font-size: 14px
		.gifts__block
			.gift__item
				display: flex
				justify-content: center
				.wrap
					position: relative
					height: 300px
					width: 300px
					// margin: 25px
					&:hover .gift__text
							transform: translateY(0)
							opacity: 1
					&:hover .gift__img
						transform: scale(0.5) translateY(-100%)
					.block
						height: 100%
						width: 100%
						position: absolute
						transition: .35s ease-in-out
					.gift__text
						background-color: rgba(1,1,1,0.4)
						transform: translateY(100%)
						opacity: 0
						z-index: 0
						text-align: center
						padding: 80px 20px 20px
						h2
							color: #fff
							line-height: 40px
							font-weight: normal
							font-size: 38px
							margin-top: 20px
							margin-bottom: 10px
							padding-bottom: 20px
							font-weight: 200
							border-bottom: 1px solid #f6f6f6
						p
							color: #fce980
							font-size: 20px
					.gift__img
						transform: scale(1)
						z-index: 1
						border: 5px solid #fce980
						border-radius: 50%
			.left
				justify-content: flex-end
			.right
				justify-content: flex-start
		.cat__stoim
			.col-12
				p
					text-align: center
					font-size: 28px
					padding-top: 40px
					font-weight: bold

/* Catalog End */

.included
	background: url(../img/included-background.jpg) no-repeat 50% 50%
	height: 100vh
	.container
		.title__block
			.title__line
				.info__header
					color: #ffb405
		.row
			.included-row-one
				display: flex
				width: 100%
				justify-content: space-between
				.included-left
					margin-top: 41px
					text-align: right
					width: 240px
					.included-icon
						display: inline-block
					.included-icon-quality
						background: url(../img/included-icon-quality.png) no-repeat 0 0
						width: 90px
						height: 52px
					.included-text
						font-size: 17px
						font-weight: normal
				.included-right
					margin-top: 41px
					text-align: left
					width: 240px
					.included-icon
						display: inline-block
					.included-icon-loading
						background: url(../img/included-icon-loading.png) no-repeat 0 0
						width: 46px
						height: 61px
					.included-text
						font-size: 17px
						font-weight: normal
			.included-row-two
				display: flex
				width: 100%
				justify-content: space-between
				.included-left
					margin-top: 190px
					text-align: right
					width: 240px
					.included-icon
						display: inline-block
					.included-icon-quality
						background: url(../img/included-icon-simple.png) no-repeat 0 0
						width: 42px
						height: 53px
					.included-text
						font-size: 17px
						font-weight: normal
				.included-right
					margin-top: 190px
					text-align: left
					width: 240px
					.included-icon
						display: inline-block
					.included-icon-loading
						background: url(../img/included-icon-more.png) no-repeat 0 0
						width: 41px
						height: 52px
					.included-text
						font-size: 17px
						font-weight: normal

/* Akci Start */

.akci
	.container
		.row
			.col-12
				.form-wrapper
					margin-top: 40px
					border: 5px solid #fc0
					padding-bottom: 49px
					.row
						.col-md-offset-1
							margin-left: 8.33333333%
						.col-md-10
							width: 83.33333333%
						.form-title
							font-size: 26px
							line-height: 33px
							font-weight: 200
							background-color: #fff
							text-align: center
							margin-top: -21px
							strong
								display: inline
					.row
						.form-price
							text-align: center
							font-size: 38px
							width: 100%
							b
								display: inline-block
								padding: 0px 10px
								border-radius: 4px
								font-weight: 400
								font-size: 20px
								vertical-align: top
								margin-top: 13px
								margin-right: 10px
								line-height: 31px
							.topform-price-strike
								font-weight: normal
								text-decoration: line-through
								font-size: 38px
								text-align: center
							.topform-price-yellow
								color: #fc0
								font-weight: 400
					.form
						display: flex
						justify-content: center
						.form-input-wrapper
							margin: -4px 0 4px
							input
								width: 280px
								margin: 42px 20px 0 0
								height: 53px
								line-height: 53px
								color: #000
								width: 90%
								font-size: 13px
								text-transform: uppercase
								padding: 0 20px
								background-color: #f1f1f1
								border: 0
								display: block
							.btn
								margin: 42px 0 0
								width: 280px
								box-shadow: 8px 13px 30px 0 rgba(177,146,0,.2)
								background-color: #ffe400
								border: 0
								height: 53px
								line-height: 53px
								text-transform: uppercase
								font-weight: 700
								font-size: 15px
								display: block
								text-align: center
								color: #000
					.title-text
						margin-top: 15px
						color: #777
						font-size: 17px
						font-weight: 200
						text-align: center
		.row
			.book
				position: relative
				display: flex
				justify-content: center
				margin-top: 50px
				&:after
					content: ""
					display: block
					position: absolute
					background: url(../img/book-arrow.png) no-repeat 0 0
					width: 66px
					height: 61px
					left: 50%
					margin-left: 175px
					top: -27px
				.book-img
					width: 205px
					height: 147px
					margin-left: 80px
					img
						margin: 0 auto
				.book-text
					font-size: 17px
					flex: 0 0 320px
					line-height: 23px
					color: #000
					font-weight: 200
					margin: 25px 0 0 30px
					white-space: pre-line

/* Akci Start */

/* Reviews Start */

.reviews
	padding-top: rem(30)
	padding-bottom: rem(60)
	.container-fluid
		max-width: 1140px
		.h3
			font-size: 40px
			position: relative
			margin-bottom: rem(60)
			&:after
				content: ""
				width: rem(150)
				height: 3px
				background-color: $accent
				position: absolute
				left: 0
				margin-top: rem(66)
		.row
			.rev-img
				overflow: hidden
				border: 5px solid #fff
				border-radius: 10px
				text-align: center
				img
					height: rem(240)
					vertical-align: middle
				.name
					font-weight: bold
				.city
					font-size: 12px
					margin-bottom: rem(16)
				.name, .city
					text-align: center
				p:last-child
					margin-bottom: rem(16)
					text-align: left
			.mail
				text-align: center
				.h4
					font-size: 20px
					padding: rem(24)
				a
					font-size: 24px

/* Reviews End */

@import "media" // Always at the end
